<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>Apple LLVM version 9.0.0 (clang-900.0.39.2)</string>
 <key>files</key>
 <array>
  <string>ft_split.c</string>
 </array>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>48</integer>
      <key>col</key><integer>27</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>48</integer>
         <key>col</key><integer>27</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>48</integer>
         <key>col</key><integer>32</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>48</integer>
         <key>col</key><integer>34</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>48</integer>
         <key>col</key><integer>54</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Result of &apos;malloc&apos; is converted to a pointer of type &apos;char&apos;, which is incompatible with sizeof operand type &apos;char **&apos;</string>
     <key>message</key>
     <string>Result of &apos;malloc&apos; is converted to a pointer of type &apos;char&apos;, which is incompatible with sizeof operand type &apos;char **&apos;</string>
    </dict>
   </array>
   <key>description</key><string>Result of &apos;malloc&apos; is converted to a pointer of type &apos;char&apos;, which is incompatible with sizeof operand type &apos;char **&apos;</string>
   <key>category</key><string>Unix API</string>
   <key>type</key><string>Allocator sizeof operand mismatch</string>
   <key>check_name</key><string>unix.MallocSizeof</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>6bc71b6efbd9a46f6102e7e0687520ee</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>curse</string>
  <key>issue_hash_function_offset</key><string>17</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>48</integer>
   <key>col</key><integer>27</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>85</integer>
      <key>col</key><integer>2</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>85</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>85</integer>
         <key>col</key><integer>47</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;argv&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;argv&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;argv&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>6242b770f719b82f60a20a74481fb90c</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>main</string>
  <key>issue_hash_function_offset</key><string>3</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>85</integer>
   <key>col</key><integer>2</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
 </array>
</dict>
</plist>